.card__container {
    position: relative;
    border: 6px solid #3e4357;
    border-radius: 10px;
    width: 350px;
    height: 500px;

    display: flex;
    overflow: hidden;
    margin-top: 10px;
}

.card__img {
    min-width: 100%;
    min-height: 100%;
    transition: transform .6s;
}

.card__img:hover {
    transform: scale(1.1);
}

/* Estilo para dispositivos móveis com tela menor que 768px */
@media (max-width: 768px) {
    /* Suas regras de estilo para dispositivos móveis aqui */

    .card__container {
        width: 150px;
        height: 200px;
    }
}