<div class="home__container">
    <app-card gameCover="assets/bt-1.jpg" gameLabel="Digital" gameType="DIGITAl | PS4" gamePrice="R$ 129,99">
    </app-card>

    <app-card gameCover="assets/bt-5.jpg" gameLabel="Exclusive" gameType="DISC | PS5" gamePrice="R$ 229,99">
    </app-card>

    <app-card gameCover="assets/bt-4.jpg" gameLabel="BEST OF YEAR" gameType="DISC | PS4 |PS5" gamePrice="R$ 269,99">
    </app-card>

    <app-card gameCover="assets/ac-cover.jpg" gameLabel="DIGITAL" gameType="DISC | PS5" gamePrice="R$ 329,99">
    </app-card>

    <app-card
        gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202306/1301/98af148cb3f2469d4268eb15b235c255eeeec1757eda1fd6.png?w=440&thumb=false"
        gameLabel="DIGITAL" gameType="DIGITAL | PS5" gamePrice="R$ 399,50">
    </app-card>

    <app-card
        gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202308/2120/c43634250d3be777a32ff55980ebe29889ad6cc4a337d3b5.png?w=780&thumb=false"
        gameLabel="DIGITAL" gameType="DIGITAL | PS5" gamePrice="GRATUITO">
    </app-card>

    <app-card
        gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202304/2714/d7a1f9339c13b4284fcba2acd8d5e4ba2867fa6ef3b8b857.png?w=440&thumb=false"
        gameLabel="DELUXE EDITION" gameType="MIRACLE | PS5" gamePrice="R$ 339,90">
    </app-card>

    <app-card
        gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202305/2315/607d9ed1ac762c9de33ef73fd09b3431d0b96ef4985ac2fb.png?w=440&thumb=false"
        gameLabel="Standard Edition" gameType="DISC | PS4" gamePrice="R$ 299,90">
    </app-card>

    <app-card
        gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202307/2718/dc86387da734a7937b223ed24f8ddd4cf328d1eed97fc5d5.png?w=440&thumb=false"
        gameLabel="GAMEMILL ENTERTAINMENT" gameType="DISC | PS4 | PS5" gamePrice="R$ 249,50">
    </app-card>

    <app-card
        gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202305/1515/1cc63f4f4b2c9a9852fabefba4ca7eea936b1ef7867811a5.png?w=440&thumb=false"
        gameLabel="EDIÇÃO STANDARD" gameType="DISC | PS5" gamePrice="R$ 299,90">
    </app-card>

    <app-card
        gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202309/0511/dd2730f53d70dd353b17e2c01398e82acf29d60cc4c1fe4c.png?w=440&thumb=false"
        gameLabel="Konami Digital Entertainment, Inc." gameType="DIGITAL | PS5" gamePrice="GRATUITO">
    </app-card>

</div>