<div class="home__container">
    <app-card gameCover="assets/bt-1.jpg" gameLabel="Digital" gameType="DIGITAl | PS4" gamePrice="R$ 129,99">
    </app-card>

    <app-card gameCover="assets/bt-5.jpg" gameLabel="Exclusive" gameType="DISC | PS5" gamePrice="R$ 229,99">
    </app-card>

    <app-card gameCover="assets/bt-4.jpg" gameLabel="BEST OF YEAR" gameType="DISC | PS4 |PS5" gamePrice="R$ 269,99">
    </app-card>

    <app-card gameCover="assets/ac-cover.jpg" gameLabel="DIGITAL" gameType="DISC | PS5" gamePrice="R$ 329,99">
    </app-card>

    <app-card
        gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202306/1301/98af148cb3f2469d4268eb15b235c255eeeec1757eda1fd6.png?w=440&thumb=false"
        gameLabel="DIGITAL" gameType="DIGITAL | PS5" gamePrice="R$ 399,50">
    </app-card>

    <app-card
        gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202308/2120/c43634250d3be777a32ff55980ebe29889ad6cc4a337d3b5.png?w=780&thumb=false"
        gameLabel="DIGITAL" gameType="DIGITAL | PS5" gamePrice="GRATUITO">
    </app-card>

    <app-card
        gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202208/1718/M1M5lbWg6QPwf2gx34N3v78v.jpg?w=780&thumb=false"
        gameLabel="Standard Edition" gameType="MIRACLE | PS5" gamePrice="R$ 339,90">
    </app-card>

</div>