<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img src="assets/ps-logo.png" alt="Playstation Logo" srcset="" width="140px" height="32px">
    </div>
    <div class="menu-bar__item">
        <ul>
            <li><a href="">YOUTUBE</a></li>
            <li><a href="https://www.linkedin.com/in/fl%C3%A1vio-cardoso-093391139/" target="_blank">LINKEDIN</a></li>
            <li><a href="https://github.com/flaviopcsilva" target="_blank">GITHUB</a></li>
        </ul>
    </div>
</div>